---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  -cert-err58-cpp,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-cstyle-cast,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-naming,
  -readability-function-cognitive-complexity,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-include-cleaner,
  -misc-const-correctness
WarningsAsErrors: ''
HeaderFilterRegex: '.*/include/.*'
FormatStyle: file
