---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
PointerAlignment: Left
ReflowComments: true
IncludeBlocks: Preserve
SortIncludes: false
